
.vs/FitNess/FileContentIndex/717dcb2f-a34f-4465-83ee-3a3796de72ca.vsidx
.vs/FitNess/FileContentIndex/d59c84f9-35cf-4415-9a26-16a6fbb3b798.vsidx
.vs/FitNess/FileContentIndex/d703c275-3c33-4660-ad22-c2e68d1333b1.vsidx
.vs/FitNess/FileContentIndex/fc9f7107-84ce-4928-8ef2-90a44028e819.vsidx
.vs/FitNess/FileContentIndex/read.lock
.vs/slnx.sqlite
Common/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Common/obj/Release/net6.0/Common.AssemblyInfo.cs
Common/obj/Release/net6.0/Common.AssemblyInfoInputs.cache
Common/obj/Release/net6.0/Common.assets.cache
Common/obj/Release/net6.0/Common.csproj.AssemblyReference.cache
Common/obj/Release/net6.0/Common.GeneratedMSBuildEditorConfig.editorconfig
Common/obj/Release/net6.0/Common.GlobalUsings.g.cs
NutritionService/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
NutritionService/obj/Release/net7.0/NutritionService.AssemblyInfo.cs
NutritionService/obj/Release/net7.0/NutritionService.AssemblyInfoInputs.cache
NutritionService/obj/Release/net7.0/NutritionService.assets.cache
NutritionService/obj/Release/net7.0/NutritionService.csproj.AssemblyReference.cache
NutritionService/obj/Release/net7.0/NutritionService.GeneratedMSBuildEditorConfig.editorconfig
NutritionService/obj/Release/net7.0/NutritionService.GlobalUsings.g.cs
UserService/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
UserService/obj/Release/net7.0/UserService.AssemblyInfo.cs
UserService/obj/Release/net7.0/UserService.AssemblyInfoInputs.cache
UserService/obj/Release/net7.0/UserService.assets.cache
UserService/obj/Release/net7.0/UserService.csproj.AssemblyReference.cache
UserService/obj/Release/net7.0/UserService.GeneratedMSBuildEditorConfig.editorconfig
UserService/obj/Release/net7.0/UserService.GlobalUsings.g.cs
WorkoutService/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
WorkoutService/obj/Release/net7.0/WorkoutService.AssemblyInfo.cs
WorkoutService/obj/Release/net7.0/WorkoutService.AssemblyInfoInputs.cache
WorkoutService/obj/Release/net7.0/WorkoutService.assets.cache
WorkoutService/obj/Release/net7.0/WorkoutService.csproj.AssemblyReference.cache
WorkoutService/obj/Release/net7.0/WorkoutService.GeneratedMSBuildEditorConfig.editorconfig
WorkoutService/obj/Release/net7.0/WorkoutService.GlobalUsings.g.cs
